#####################################################################
# FLOOK32 default config for AD5X
#####################################################################
# Existing installations keep their current flook32.cfg unchanged.

[flook32]

[temperature_sensor chamber]
sensor_type: flook32
native_heater: True
native_heater_max_temp: 65
native_heater_wait_delta: 2
